*{
    margin: 0;
    padding: 0;
}


#link-path > ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

#link-path > ul li{
    margin-right: 30px;
}

#link-path > ul li a{
    text-decoration: none;
}

section{
    margin-top: 50px;
}

h1{
    text-align: center;
    padding: 20px;
}

article ul{
    margin-top: 20px;
}
